@charset "UTF-8";

* {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    line-height: 1.7;
    border-collapse: collapse;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}

body {
    background: rgb(235, 234, 232);
}

.page-header {
    width: 100%;
    background-image: url(../images/accessMain.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 100px;
    z-index: 1;
    width: 100%;
    background: #303535a6;
}

.logo {
    height: 100px;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
}

.list li {
    padding: 40px;
}

.list li:last-child {
    background-color: #000;
    height: 100px;
}

.list a {
    color: #fff;
    letter-spacing: 0.2em;
    text-decoration: none;
}

.list a:hover {
    background: rgb(182, 166, 134);
}

.header-main {
    position: absolute;
    top: 43%;
    left: 47%;
    transform: translate(-30%, -50%);
    font-size: 2.375rem;
    background-color: #303535a6;
    color: rgba(255, 255, 255, 0.945);
    width: 18%;
    text-align: center;
}


main {
    text-align: lefts;
    margin: 0 0 0 auto;
    padding-top: 100px;
    letter-spacing: 2px;
    background-color: rgba(219, 218, 218, 0.979);
    width: 100%;
    color: #000;
    position: relative;
}
.map {
    text-align: center;
    margin-bottom: 100px;
}
#content h3 {
    font-size: 1.7rem;
    margin-bottom: 30px;
    text-align: center;
}
.access_route_car {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 200px;
}
.access_route_train {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.access:first-child::before {
    content: "東京方面";
    font-size: 1.3rem;
}
.access:nth-child(2)::before {
    content: "大阪方面";
    font-size: 1.3rem;
}
.access:last-child::before {
    content: "名古屋方面";
    font-size: 1.3rem;
}
.access_title {
    list-style: none;
    margin: 30px auto;
}
.access_title::after {
    white-space: pre;
   content:"テキストが入ります。\Aテキストが入ります。";
   display: flex;
}


@media (max-width: 767px) {

    html {
        font-size: 10px;
        width: 100%;
        text-align: center;
    }

    .page-header {
        max-height: 53vh;
    }

    .logo {
        height: 60px;
    }

    .list li {
        padding: 0;
    }

    .list li a {
        padding: 10px;
    }

    .list li:last-child {
        background-color: #fff;
    }

    .header-main {
        top: 30%;
        left: 50%;
        height: 40px;
        width: 100px;
        transform: translate(-45%, -100%);
    }

    .access_route_car {
        display: block;
        margin-bottom: 20px;
    }

    .access_route_train {
        display: block;
    }

    .access_title::after {
        display: block;
    }

    /*ハンバーガーメニュー*/
    .header-top {
        position: fixed;
        top: 60px;
        width: 100%;
        height: calc(100% - 60px);
        background: rgb(255, 255, 255);
        opacity: 0.9;
        display: block;
        right: -100%;
        transition: right .5s;
    }

    .header-top.sp_open {
        right: 0;
    }

    .list {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        letter-spacing: 0px;
    }

    .list a {
        display: block;
        padding: 25px;
        border-radius: 5px;
        color: #666;
        font-size: 1.8rem;
        text-align: center;
        text-decoration: none;
    }

    #drawer_toggle {
        z-index: 200;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 60px;
        height: 60px;
        position: fixed;
    }

    #drawer_toggle span {
        position: absolute;
        top: 19px;
        left: 17px;
        display: inline-block;
        width: 30px;
        height: 3px;
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
        vertical-align: top;
    }

    #drawer_toggle span:nth-child(2) {
        margin-top: 10px;
    }

    #drawer_toggle span:last-child {
        margin-top: 20px;
    }

    #drawer_toggle.open span {
        top: 29px;
        left: 14px;
        width: 35px;
        margin: 0;
    }

    #drawer_toggle.open span:first-child {
        transform: rotate(45deg);
    }

    #drawer_toggle.open span:nth-child(2) {
        display: none;
    }

    #drawer_toggle.open span:last-child {
        transform: rotate(-45deg);
    }
}